In [1]:
import pandas as pd
import numpy as np

# Dataframe

In [3]:
# URL que contiene los datos en formato CSV
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

## Carguemos los datos

In [4]:
pd.read_csv(url)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

Pueden observar como pandas asumio que la primera fila del archivo era el nombre de la columna. Utilizemos el argumento `header` para indicarle que es falso.

In [5]:
# Cargar los datos del archivo CSV en un DataFrame
data = pd.read_csv(url, header=None)
data

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
data.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
      dtype='int64', length=150)

In [7]:
data.shape

(150, 5)

In [18]:
data.index = [i*-1 for i in data.index]

In [ ]:
data.index

:

Ahora asignemos nombres a las columnas. Como es un Dataset conocido podemos saber que es cada columna. Estos datos se conocen como 'Iris' y fueron creados por el estadistico Fisher.

In [36]:
# Asignar nombres a las columnas
data.columns = ['largo_sepalo', 'ancho_sepalo', 'largo_petalo', 'ancho_petalo', 'clase']

# Mostrar los primeros 5 registros del DataFrame
print(data.head(10))

    largo_sepalo  ancho_sepalo  largo_petalo  ancho_petalo        clase
 0           5.1           3.5           1.4           0.2  Iris-setosa
-1           4.9           3.0           1.4           0.2  Iris-setosa
-2           4.7           3.2           1.3           0.2  Iris-setosa
-3           4.6           3.1           1.5           0.2  Iris-setosa
-4           5.0           3.6           1.4           0.2  Iris-setosa
-5           5.4           3.9           1.7           0.4  Iris-setosa
-6           4.6           3.4           1.4           0.3  Iris-setosa
-7           5.0           3.4           1.5           0.2  Iris-setosa
-8           4.4           2.9           1.4           0.2  Iris-setosa
-9           4.9           3.1           1.5           0.1  Iris-setosa

In [10]:
type(data)

pandas.core.frame.DataFrame

# Accediendo a Columnas

In [17]:
data['largo_sepalo']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: largo_sepalo, Length: 150, dtype: float64

In [12]:
# Error
data['asd']

KeyError: 'asd'

Cuando seleccionas una columna unica se convierte en `pd.Series`

In [28]:
print(type(data['largo_sepalo']))
data['largo_sepalo']

<class 'pandas.core.series.Series'>

 0      5.1
-1      4.9
-2      4.7
-3      4.6
-4      5.0
       ...
-145    6.7
-146    6.3
-147    6.5
-148    6.2
-149    5.9
Name: largo_sepalo, Length: 150, dtype: float64

In [24]:
data(-149)

TypeError: 'DataFrame' object is not callable

Pero cuando usamos una lista para seleccionar las columnas se mantiene como un DataFrame.

In [27]:
print(type(data[['largo_sepalo']]))
data[['largo_sepalo']]['largo_sepalo'].shape

<class 'pandas.core.frame.DataFrame'>

(150,)

A su vez tambien podemos seleccionar varias columnas utilizando una lista.

In [25]:
data[['largo_sepalo', 'largo_petalo' ]]

      largo_sepalo  largo_petalo
 0             5.1           1.4
-1             4.9           1.4
-2             4.7           1.3
-3             4.6           1.5
-4             5.0           1.4
...            ...           ...
-145           6.7           5.2
-146           6.3           5.0
-147           6.5           5.2
-148           6.2           5.4
-149           5.9           5.1

[150 rows x 2 columns]

## Slicing

In [37]:
data = pd.DataFrame({
    'nombre': ['Juan', 'Maria', 'Pedro', 'Luis', 'Ana'],
    'edad': [25, 30, 40, 35, 28],
    'ciudad': ['Bogotá', 'Cali', 'Medellin', 'Barranquilla', 'Bucaramanga'],
    'salario': [2000, 3000, 4000, 3500, 2500]
})
data

  nombre  edad        ciudad  salario
0   Juan    25        Bogotá     2000
1  Maria    30          Cali     3000
2  Pedro    40      Medellin     4000
3   Luis    35  Barranquilla     3500
4    Ana    28   Bucaramanga     2500

In [38]:
data

  nombre  edad        ciudad  salario
0   Juan    25        Bogotá     2000
1  Maria    30          Cali     3000
2  Pedro    40      Medellin     4000
3   Luis    35  Barranquilla     3500
4    Ana    28   Bucaramanga     2500

In [39]:
data.shape

(5, 4)

In [40]:
type(data)

pandas.core.frame.DataFrame

In [62]:
# Seleccionar las filas 2 a 4 (excluyendo la última)
filas = data[:1]['nombre']
filas

0    Juan
Name: nombre, dtype: object

Seleccionar filas y columnas al mismo tiempo usando `loc`

In [ ]:
# Seleccionar las filas 1 y 3 y las columnas 'nombre' y 'salario'
subset = data.loc[[0, 2], ['nombre', 'salario']]
print(subset)

:

Seleccionar filas y columnas al mismo tiempo usando `iloc`. Se considera mala practica.

In [65]:
# Seleccionar las filas 1 y 3 y las columnas 0 y 3
subset = data.iloc[[0, 2], [0, 3]]
print(subset)

  nombre  salario
0   Juan     2000
2  Pedro     4000

## Tipos de Datos

In [63]:
data.dtypes

nombre     object
edad        int64
ciudad     object
salario     int64
dtype: object

## Estadisticos

In [64]:
data.describe()

           edad      salario
count   5.00000     5.000000
mean   31.60000  3000.000000
std     5.94138   790.569415
min    25.00000  2000.000000
25%    28.00000  2500.000000
50%    30.00000  3000.000000
75%    35.00000  3500.000000
max    40.00000  4000.000000